body {
    font-family: 'Helvetica', 'sans serif';
    background-color: #508484; 
}

.menu {
   
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menulinks > li {
    display: inline;
    margin-right: 50px;
    font-family: 'travellingregular', 'Helvetica', 'sans serif';
    font-size: 3em;
}
.menulinks-container {
  display: flex;
  justify-content: flex-end;
}

.menulinks > li:last-of-type {
  margin-right: 0;
}
a:link,
a:visited {
  color: #2C4848;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*  http://www.1001fonts.com/travelling-font.html#license. Marked as free for personal and commercial use. Web safe fonts created with font squirrel */
@font-face {
    font-family: 'travellingregular';
    src: url('travelling-webfont.woff2') format('woff2'),
         url('travelling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 {
    display: flex;
    justify-content: flex-start;
    font-family:'travellingregular', 'Helvetica', 'sans serif';
    font-size: 5em;
}
h2 {

    font-family:'travellingregular', 'Helvetica', 'sans serif';
    font-size: 4em;
}
h3 {
    font-family:'travellingregular', 'Helvetica', 'sans serif';
    font-size: 3em;
    color: black;
}
.about {
    display: flex;
    justify-content: space-around;
    
}
.container-block {
    width: 30%;
    height: auto;

    padding: 10px;
    margin: 10px;
    background-color: #95849B;
    border: 5px #404040;
    }
.img-block{
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

img {
    height: 45%;
    width: 45%;
    margin: 5px;
}
.interests {
    
    padding: 10px;
    margin: 10px;
    background-color: #A1898F;
    border: 5px #404040;

}
.skills {
    padding: 10px;
    margin: 10px;
    background-color: #6C464F;
        display: flex;
    justify-content: space-around;
}
.skills > p {
    display: flex;
}
div.list {
    width: 30%;
    height: auto;

    padding: 10px;
    margin: 10px;
    background-color: #A1898F;
    

    }


/* all colors from coolors font generator, available at https://coolors.co/6C464F-508484-c5e0d8-95849B-ceabb1 */